body{
    width: 100%; 
    height: 1000px;
    background-image: url(img/ec.webp); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;  
   
}

.container{
    width: 600px;
    height: 700px;
    margin: 0 auto;
    padding: 120px auto;
    background-color: rgba(19, 20, 18, 0.5);  
} 

form{
    backdrop-filter: blur(0px); 
    max-width: 700px;
    height: 700px;
    padding: 50px;
    border-radius: 20px; 
}  
input{
    height: 30px;
    width: 300px;
    border: none;
    outline: none;
    border-radius: 30px;
    color: aliceblue;
    padding: 20px center;
    background: rgba(205, 205, 205, 0.5)
     
}

form {
    color:aliceblue;
}

.limpatudo{
    background: rgba(205, 205, 205, 0.7);
    height: 30px;
    width: 50%;
    border: center;
    outline: none;
    border-radius: 30px;
}
.finalizarcadastro{
    background-color: rgba(205, 205, 205, 0.7);
    height: 30px;
    width: 70%;
    border:none;
    outline: none;
    border-radius: 30px;
}


